@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    background-color: v.$verde;

    h1{
        color: v.$blanco;
        text-align: center;
        margin: 1rem;

        @include m.tablet {
            margin: 0;
            
        }
    }

    .contenido-header{
        padding: 2rem;
        @include m.tablet {
            
            display: flex;
            justify-content: space-between;
        }
    }
    
    
}

.navegacion-principal{

    align-items: center;
    @include m.tablet {
        display: flex;
        gap: 2rem;
        
    }
   
    a{
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        color: v.$blanco;
        font-size: 2.4rem;

        @include m.tablet {
            margin:0;
        }

        &:hover{
            color:v.$amarillo;
        }
    }
}