@use 'base/mixins' as m;
@use 'base/variables' as v;

.lineup {
    background-color: v.$rosa;
    padding: 5rem;

    h3,p{
        text-align: center;
        color: v.$blanco;
    }

    .dia{
        text-transform: uppercase;
        margin: 3rem 0;
    }

}

.escenarios-contenedor{
    
    @include m.tablet{
        @include m.grid(2,5rem);
    }

    p{
        color: v.$negro;
    }
    .escenario{
        padding-top: 2rem;
        border-radius: 1rem;

        p{
            &:after{
                content: '';
                display: block;
                width: 20rem;
                height: 10rem;
                background-size: 15rem;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 2rem auto;

            }
        }
    }

}

.rock .nombre-escenario:after{
    background-image: url(../img/icono_rock.png);
}
.edm .nombre-escenario:after{
    background-image: url(../img/icono_edm.png);
}

.bg-amarillo{
    background-color: v.$amarillo;
    li:nth-child(odd){
        background-color: darken(v.$amarillo,10%);
    }
}

.bg-verde{
    background-color: v.$verde;
    li:nth-child(odd){
        background-color: darken(v.$verde,10%);
    }
}

.calendario{
    @include m.resetear-lista;
    li{
        padding:2.5rem;
        font-weight: bold;
        span{
            font-weight:400;
        }
    }
}